---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="mt-20 bg-slate-200 font-sans text-gray-800">
    <div class="max-w-6xl mx-auto py-12 px-4">
      <div class="flex">
        <Header />
        <main class="ml-8 w-1/2 flex-grow">
          <h1 class="text-2xl font-light mb-8">Anish Badri</h1>

          <div class="max-w-2xl mb-8">
            <p class="text-lg">
              I'm currently building my startup: Parrot Prep, a tool that will hopefully
              serve as an infrastructure for your job search process.
            </p>
          </div>

          <div class="max-w-2xl mb-8">
            <p class="mb-4">Here are some other things about me:</p>
            <ul class="list-disc list-inside space-y-2">
              <li>Graduated UCLA with a BS degree in Computer Science</li>
              <li>Working on an open source Rust based TUI tool</li>
              <li>Interned at Brilliant Smart Home</li>
              <li>Did some machine learning research at Ozcan Research Lab</li>
              <li>Currently grokking through Rust and Zig, while also dabbling into Go</li>
            </ul>
          </div>

          <div class="mb-8">
            <p>Want to chat? Drop me a note anishbadri2621@gmail.com</p>
          </div>

          <Footer />
        </main>
        <div class="w-1/5">
          {/* Empty right column */}
        </div>
      </div>
    </div>
  </body>
</html>
