<footer class="mt-8">
  <nav>
    <ul class="flex space-x-4 text-sm">
      <li>
        <a
          href="https://github.com/AnishxBadri"
          class="text-gray-800 hover:underline">GitHub</a>
      </li>
      <li>
        <a
          href="https://twitter.com/anish_badri"
          class="text-gray-800 hover:underline">Twitter</a>
      </li>
      <li>
        <a
          href="https://mastodon.social/@unemployed_bro"
          class="text-gray-800 hover:underline">Mastodon</a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/anish-badri-621432149/"
          class="text-gray-800 hover:underline">LinkedIn</a>
      </li>
    </ul>
  </nav>
</footer>
