---
import HeaderLink from "./HeaderLink.astro";
---

<header class="w-1/5 items-center">
  <nav>
    <ul class="space-y-1">
      <li><HeaderLink href="/" class="text-gray-800 hover:underline">Home</HeaderLink></li>
    </ul>
  </nav>
</header>
